* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: helvetica;
    font-size: 13.8px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250,250,250);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 20px;
}

.instagram-phone img {
    margin-top: 2rem;
    height: 48rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /*está na horizontal*/
    justify-content: space-around; /*está na vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 15rem;
    margin-top: 50px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 95%;
    padding: 1rem 0;
    border: 1px solid lightgray;
    margin: 2px;
}

.group:nth-child(1) {   /*(1)é só o primeiro quadrado*/
    min-height: 23rem;
}

.group:nth-child(2) { 
    margin-top: 8px;  
    min-height: 7rem;
    padding: 2rem 0;
}


.instagram-logo {
    height: 3.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.profile-photo img {
    height: 6.5rem;
}

.instagram-login {                  /*botão*/
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.instagram-logout {
    color: #219ff3;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.not-account {
    color: rgb(160,160,160);
}

.link-blue {
    color: #219ff3;
    font-weight: bold;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
    border-radius: 3px;
    margin-top: 5px;
}

.app-download:nth-child(1) {
    background-image: url(./img/apple-button.png);
}

.app-download:nth-child(2) {
    background-image: url(./img/googleplay-button.png);
}

/*media queries*/

@media (max-width: 1024px) {    /*para tablet*/
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {     /*para celular*/
    body {
        background-color: #ffff;
    }
    .instagram-wrapper {
        width: 90%;
    }
    .instagram-phone {
        display: none;
    }
    .instagram-continue {
        width: 100%;
    }
    .group {
        border: 1px solid transparent;
    }
}